<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
     <% include ../static/partials/messages.ejs %>
      <h1><%= wiki.title %></h1>
      <%if(currentUser.isBasic()){%>
         <p> your basic account is good but being basic isn't, upgrade now!</p>
         <a href='/users/<%= currentUser.id%>/upgradeForm'class='btn btn-primary'>Premium Status</a>
      }
      <%if(currentUser.isPremium()){%>
        <p> I don't want to make cool private wikis henceforth, downgrade me!</p>
        <a href='/users/<%= currentUser.id%>/downgradeForm'class='btn btn-primary'>Basic Status</a>
     }
      <p><%= wiki.body %></p>
      <%}%>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>